.schedule-item {
    margin-bottom: 20px;
  }
  
  .schedule-item.rutin {
    background: #ffe0b2;
  }
  
  .schedule-item.event {
    background: #bbdefb;
  }
  
  .schedule-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }