.edit-profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 69rem;
    height: 47rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile {
    position: relative;
    margin-top: -150px;
    align-items: center;
}

.edit-profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-items: center;
    margin-left: 70px;
}

.form-edit {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.form-edit label {
    font-size: 16px;
    margin-bottom: 5px;
}

.form-edit input,
.form-edit textarea {
    width: 400px;
    height: 30px;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    margin-bottom: 15px;
}

.profile-akun {
    align-items: center;
}

.simpan-edit {
    background-color: #ef8619;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-family: poppins-bold;
}