.forum-diskusi-container-baru {
    display: flex;
    justify-content: center;
}

.forum-diskusi-content-baru {
    width: 1200px;
    max-height: 726px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    margin: 0 100px 0 100px;
    position: fixed;
}

.forum-diskusi-container-baru h1 {
    margin: 15px 23px 51px;
    text-align: left;
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label {
    font-family: poppins-bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group textarea {
    width: 500px;
    height: 30px;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    padding: 10px;
}

.form-group textarea::placeholder {
    color: #E0E0E0;
}

.form-group textarea {
    width: 1134px;
    height: 220px;
    margin: 0;
}

.add-foto {
    margin-bottom: 100px;
}

.add-foto label {
    color: #ef8619;
    font-family: poppins-bold;
    cursor: pointer;
}

.add-foto span {
    margin-right: 5px;
}

.form-group p:hover {
    color: #f08f2a;
}

.forum-diskusi-content-baru button {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 59px;
    background-color: #ef8619;
    color: white;
    font-family: poppins-bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.forum-diskusi-content-baru button:hover {
    background-color: #f08f2a;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.header-done img{
    align-items: center;
    justify-content: center;
}
  
.modal-content h1 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
  
.modal-content button {
    margin-top: 20px;
    font-family: poppins-bold;
    font-size: 18px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #ef8619;
    color: #FFFFFF;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #f08f2a;
}