.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.table-header {
  display: flex;
  gap: 50rem;
  align-items: center;
  margin-bottom: 10px;
}

.table-back {
  display: flex;
  justify-content: center;
  color: #EF8619;
  border: none;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}

.table-back span {
  margin-left: 20px;
  font-size: 16px;
}

.cari-akun {
  position: relative;
  display: flex;
  align-items: center;
}

.cari-akun .search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #999;
  top: 13px;
  color: #EF8619;
}

input[type=text] {
  width: 320px;
  height: 25px;
  border: 2px solid #E0E0E0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 40px; 
}

table {
  border: 1px solid #EAECF0;
  border-collapse: separate;
  border-radius: 8px;
  border-spacing: 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: #EAECF0;
  border-collapse: separate;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: #EAECF0;
}

th {
  background-color: #F5F5F5;
  color: #757575;
  user-select: none;
  cursor: pointer;
}

th .header-container {
  display: flex;
  justify-content: space-between;
}

th, 
td {
  padding: 20px 90px;
  text-align: left;
  vertical-align: top;
}

td {
  border-top: 1px solid #EAECF0;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child th:first-child {
  border-radius: 4px 0 0 0;
}

thead:last-child tr:last-child th:last-child,
tbody:last-child tr:last-child th:last-child {
  border-radius: 0 0 0 4px;
}

.header-container .arrow-up {
  color: #EF8619;
  margin-left: 15px;
}

.header-container .arrow-down {
  color: #EF8619;
  margin-left: 15px;
}

.nama-cell {
  display: flex;
  flex-direction: row;
}

.nama-cell img {
  margin-right: 20px;
}

.nama-email {
  margin-top: -10px;
  margin-bottom: -20px;
}

.nama {
  margin-bottom: -15px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 500px;
}

.pagination span {
  font-family: poppins-medium;
  color: #344054;
}

.pagination button {
  width: 115px;
  height: 40px;
  border: 1px solid #E0E0E0;
  background-color: white;
  border-radius: 8px;
  color: #344054;
  cursor: pointer;
  font-family: poppins-medium;
  font-size: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color: #EAECF0;
}