.custom-table {
  width: 1064px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination span {
  margin: 0 10px;
}
