.jadwal-baru {
    width: 240px;
    height: 75px;
    font-family: poppins-bold;
    font-size: 18px;
    color: white;
    background-color: #ef8619;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.kiri-jadwal {
    display: flex;
    flex-direction: column;
    width: 30%;
}
  
#calendar {
    border-radius: 10px;
    width: 300px;
}
  
.month-selector-schedule {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.month-selector-schedule button {
    border: none;
    background-color: transparent;
    margin-left: 20px;
}

.month-selector-schedule h2 {
    font-size: 28px;
    margin-right: 20px;
}

.month-selector span {
    font-family: poppins-medium;
    margin: 0;
}
  
.month-selector button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgba(250, 223, 174, 0.2);
    border-radius: 20px 20px 0 0;
    padding: 10px;
    color: rgba(21, 0, 0, 0.6);
}
  
.day-of-week {
    text-align: center;
    font-weight: bold;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    background-color: rgba(250, 223, 174, 0.2);
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

.empty-day {
    background-color: transparent;
}
  
.day {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 80px;
    transition: background-color 0.3s;
}
  
.day:hover {
    background-color: #d4d4d4;
}

.selected-day {
    background-color: rgba(250, 223, 174, 0.5);
    border-radius: 80px;
}

.kanan-jadwal {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.schedule-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.day-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 21, 0.2);
    width: 101px;
    height: 44px;
    border-radius: 80px;
    padding-top: 5px;
}

.day-icon span {
    margin-right: 10px;
}
  
#schedule {
    margin-top: 20px;
    width: 100%;
}

.month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule {
    width: 968px;    
}

.schedule-date {
    background-color: rgba(250, 223, 174, 0.2); 
    padding: 20px;
    margin-top: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.schedule-date-initial {
    width: 150px;
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.schedule-date-initial .initial-day:nth-child(1) {
    font-size: 22px;
    margin-right: 10px;
}

.schedule-date span {
    margin-right: 25px;
    width: 114px;
}

.schedule-activity {
    flex-direction: column;
    width: 100%;
}

.schedule-item {
    background-color: #f5c186;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    cursor: pointer;
    max-width: 750px;
}

.schedule-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schedule-visible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule-item-content.hidden {
    visibility: hidden;
}

.schedule-item.orange {
    background-color: #f7c67a;
}
  
.schedule-item.blue {
    background-color: rgba(00, 76, 232, 0.2);
}

.schedule-item.orange .mark-item {
    width: 20px;
    height: 20px;
    background-color: #ef8619;
    border-radius: 6px;
    margin-right: 16PX;
}

.schedule-item.blue .mark-item {
    width: 20px;
    height: 20px;
    background-color: #004CE8;
    border-radius: 6px;
    margin-right: 16PX;
}
  
.schedule-item .time {
    color: rgba(0, 0, 21, 0.6);
    font-size: 14px;
    margin-right: 20px;
}
  
.schedule-item .title {
    width: 200px;
    color: #212121;
}
  
.schedule-item .platform {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 21, 0.2);
    border-radius: 8px;
    padding: 5px 10px;
}

.platform-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}  
  
.schedule-item .platform img {
    margin-right: 7px;
}

.schedule-item .button-detail {
    cursor: pointer;
    padding-top: 10px;
}

.details {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    margin-top: -30px;

}

.details-content {
    width: 100%;
}

.details-content .dates {
    display: flex;
    flex-direction: row;
}

.dates .time {
    margin-right: 5px;
}

.dates-component {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: rgba(0, 0, 21, 0.6);
    font-size: 14px;
}

.schedule-item.expanded {
    padding-bottom: 20px;
}
  
.invite-button {
    background-color: #f7c67a;;
    color: black;
    border: 1px solid rgba(0, 0, 00, 0.2);;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}
  
.icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}
  
.icon-delete, .icon-edit {
    margin-left: 10px;
    cursor: pointer;
}
  
  